<div class="common-content bg-gray online_read_index" id="onlineReadIndex">
    <div class="header common_header_for_read_knowledge">
        <div class="list_ctrl_bar pd10 clearfix">
            <div class="pull-right show_ctrl_btn">
                <i class="iconfont icon-shaixuan"></i>筛选
                <i class="iconfont icon-sjiantou02 double-arrow-right"></i>
                <i class="iconfont icon-sjiantou03 double-arrow-down hide"></i>
            </div>
            <div class="overhidden">
                <div class="app_search clearfix">
                    <div class="pull-right">
                        <div class="btn btn-primary btn-search">查询</div>
                    </div>
                    <div class="overhidden">
                        <i class="iconfont icon-sousuo"></i>
                        <input type="text" class="form-control input-search" placeholder="请输入关键字搜索">
                    </div>
                </div>
            </div>
        </div>

        <div class="list_ctrl_btn weui-row active">
            <div class="weui-col-33" data-type="time">
                按时间&nbsp;&nbsp;<i class="iconfont icon-yqfshangjiantou arrow-up"></i>
                <i class="iconfont icon-xiajiantou arrow-down hide"></i>
            </div>
            <div class="weui-col-33" data-type="type">
                按类别&nbsp;&nbsp;<i class="iconfont icon-yqfshangjiantou arrow-up"></i>
                <i class="iconfont icon-xiajiantou arrow-down hide"></i>
            </div>
            <div class="weui-col-33" data-type="view">
                浏览量&nbsp;&nbsp;<i class="iconfont icon-yqfshangjiantou arrow-up"></i>
                <i class="iconfont icon-xiajiantou arrow-down hide"></i>
            </div>
        </div>

    </div>


    <div class="content">
        <div class="inner">
            <div class="weui-pull-to-refresh-layer">
                <div class="pull-to-refresh-arrow"></div>
                <div class="pull-to-refresh-preloader"></div>
                <div class="down">下拉刷新</div>
                <div class="up">释放刷新</div>
                <div class="refresh">正在刷新...</div>
                <div class="done">刷新完成</div>
            </div>

            <div class="list-warning">
                搜索结果如下，点此查看全部
            </div>

            <div class="read_wrapper">
                <!--<div class="read_box clearfix">
                    <div class="pull-left">
                        <div class="read_box_img" style="background: url(app_img/none.jpg) no-repeat center center/140px 70px"></div>
                    </div>
                    <div class="overhidden">
                        <h3>多少九分裤说领导房间是了东方</h3>
                        <p>说领导开发机历史打飞机路上看的积分路上看的积分</p>
                        <div class="clearfix type">
                            <div class="pull-left">浏览量：12444</div>
                            <div class="pull-right">
                                类别：热门(4G、家宽)
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
    
<div class="sort_mask">
    <ul class="sort_panel">
        <!--<li class="active">由高到低</li>
        <li>由低到高</li>-->
    </ul>
</div>

<script id="sortTimeTpl" type="text/template">
    <li class="sort_time_btn" data-type="2" data-order="2">由近到远</li>
    <li class="sort_time_btn" data-type="2" data-order="1">由远到近</li>
</script>

<script id="typeTpl" type="text/template">
    <li class="sort_type_btn" data-uuid="">全部</li>
    <% _.each(list, function(v){ %>
        <li  class="sort_type_btn" data-uuid="<%=v.uuid%>"><%=v.coursewareType%></li>
    <% }) %>
</script>

<script id="sortViewTpl" type="text/template">
    <li class="sort_view_btn" data-type="1" data-order="2">由高到低</li>
    <li class="sort_view_btn" data-type="1" data-order="1">由低到高</li>
</script>

<script id="listTpl" type="text/template">
    <%
        if(data.rows.length == 0){
    %>
        <div class="warning-panel">暂无数据</div>
    <%   
        }
    %>

    <%
        _.each(data.rows,function(v,i){
    %>
        <div class="read_box clearfix" data-uuid="<%=v.uuid%>" data-read="<%=v.isRead%>">
            <div class="pull-left">
                <div class="read_box_img" style="background: url(<%=v.courTypeImageUrl%>) no-repeat center center/cover"></div>
            </div>
            <div class="overhidden">
                <h3><%=v.courName%></h3>
                <p style="color: #10bbf3;"><%=v.isRead=='1'?'已':'未'%>学习</p>
                <div class="clearfix type">
                    <div class="pull-left">浏览量：<%=v.readCount%></div>
                    <!-- <div class="pull-left"><%=v.readCount=='1'?'已':'未'%>学习</div> -->
                    <!-- <div class="pull-right">
                        类别：<%=v.courTypeStr%>
                    </div> -->
                    <div class="pull-right learn" data-uuid="<%=v.uuid%>" data-read="<%=v.isRead%>">
                        学习
                    </div>
                </div>
            </div>
        </div>
    <%
        });
    %>

    <% if(data.hasNextPage || data.hasPreviousPage){ %>
        <div class="list-control weui-row">
            <%
                var prevAttr = '',nextAttr = ''; 
                
                if(!data.hasPreviousPage){
                    prevAttr = 'disabled';
                } 
                
                if(!data.hasNextPage){
                    nextAttr = 'disabled';
                } 
            %> 
            <div class="weui-col-40">
                <button class="btn btn-default btn-prev" data-page="<%=data.prePage%>" <%=prevAttr%>>上一页</button>
            </div>
            <div class="weui-col-20"><%=data.pageNum%>/<%=data.pages%></div>
            <div class="weui-col-40">
                <button class="btn btn-default btn-next" data-page="<%=data.nextPage%>" <%=nextAttr%>>下一页</button>
            </div>
        </div>
    <% } %>
</script>