<div id="dataStatisticTaskOrder" class="data-statistic-activity common-content bg-gray">
    <div class="content">
        <div class="queryTools">
            <div class="content height40">
                <div class="oneItem chooseTime">
                    <div class="queryResult rightWhite time">
                        时间
                    </div>
                </div>
                <div class="oneItem evt orderSelected">
                    <div class="queryResult rightWhite">工单</div>
                    <div class="moreQuery none order">
                        <!-- <div class="slectVal" data-uuid="uuid" data-text="工单1">工单1</div>
                        <div class="slectVal" data-uuid="uuid" data-text="工单2">工单2</div>
                        <div class="slectVal" data-uuid="uuid" data-text="工单2">工单2</div>
                        <div class="slectVal" data-uuid="uuid" data-text="工单4">工单4</div> -->
                    </div>
                </div>
                <div class="oneItem evt">
                    <div class="queryResult">分公司</div>
                    <div class="moreQuery none cityList">
                        <!-- <div class="slectVal" data-uuid="uuid" data-text="长沙市">长沙市</div>
                        <div class="slectVal" data-uuid="uuid" data-text="湘潭市">湘潭市</div>
                        <div class="slectVal" data-uuid="uuid" data-text="株洲市">株洲市</div>
                        <div class="slectVal" data-uuid="uuid" data-text="常德市">常德市</div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="resultBody">
            <div class="content">
                <table>
                    <tbody>
                        <tr>
                            <th>渠道名称</th>
                            <th class="order" data-orderby="total_cnt">派发任务量</th>
                            <th class="order" data-orderby="suc_cnt">其中：任务成功</th>
                            <th class="order" data-orderby="fail_cnt">其中：任务不成功</th>
                            <th class="order" data-orderby="conu_cnt">其中：营销继续</th>
                            <th class="order" data-orderby="wait_cnt">其中：未操作 </th>
                            <th class="order" data-orderby="suc_rate">成功率=营销成功/派发任务量</th>
                            <th class="order" data-orderby="over_rate">完成率=（营销成功+营销不成功）/派发任务量</th>
                        </tr>
                        <!-- <tr class="data-line">
                            <td>湘潭营业厅</td>
                            <td>100</td>
                            <td>65</td>
                            <td>5</td>
                            <td>30</td>
                            <td>0</td>
                            <td>65%</td>
                            <td>70%</td>
                        </tr> -->
                    </tbody>
                </table>
                <!-- <div>
                    <div class="oneOrder">
                        <div class="orderName">
                            <span class="showName">渠道名称</span>
                            <span class="showValue"></span>
                        </div>
                        <div class="orderNum">
                            <span class="showName">派发任务量</span>
                            <span class="showValue"></span>
                        </div>
                        <div class="success">
                            <span class="showName">其中：任务成功</span>
                            <span class="showValue"></span>
                        </div>
                        <div class="fail">
                            <span class="showName">其中：任务不成功</span>
                            <span class="showValue"></span>
                        </div>
                        <div class="continue">
                            <span class="showName"></span>
                            <span class="showValue"></span>
                        </div>
                        <div class="unoperation">
                            <span class="showName"></span>
                            <span class="showValue"></span>
                        </div>
                        <div class="successRate">
                            <span class="showName"></span>
                            <span class="showValue"></span>
                        </div>
                        <div class="finishRate">
                            <span class="showName"></span>
                            <span class="showValue"></span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="timePicker none">
                <input type="month" class="datepicker" style="border: none;appearance: none;-webkit-appearance: none;-moz-appearance:none; color: transparent;">    
        </div>
    </div>
</div>