<div class="common-content bg-gray" id="unlearnDetail">
    <div class="allUnlearn">
        <!-- <div class="oneUser">
            <span class="user-name">
                用户名称：
                <span>张三</span>
            </span>
            <span class="user-mobile">
                联系电话：
                <span>13574089963</span>
            </span>
        </div>
        <div class="oneUser">
            <span class="user-name">
                用户名称：
                <span>张三</span>
            </span>
            <span class="user-mobile">
                联系电话：
                <span>13574089963</span>
            </span>
        </div>
        <div class="oneUser">
            <span class="user-name">
                用户名称：
                <span>张三</span>
            </span>
            <span class="user-mobile">
                联系电话：
                <span>13574089963</span>
            </span>
        </div>
        <div class="oneUser">
            <span class="user-name">
                用户名称：
                <span>张三</span>
            </span>
            <span class="user-mobile">
                联系电话：
                <span>13574089963</span>
            </span>
        </div>
        <div class="oneUser">
            <span class="user-name">
                用户名称：
                <span>张三</span>
            </span>
            <span class="user-mobile">
                联系电话：
                <span>13574089963</span>
            </span>
        </div>
        <div class="oneUser">
            <span class="user-name">
                用户名称：
                <span>张三</span>
            </span>
            <span class="user-mobile">
                联系电话：
                <span>13574089963</span>
            </span>
        </div> -->
    </div>
</div>