<div class="common-content">
    <div class="materials-header bg-gray">
        
        <div class="form-group" style="padding-left:0px;padding-right: 5px;">
            <input type="text" class="form-control materials-keyword" placeholder="输入关键字搜索">
            <button class="icon icon-times clear-form"></button>
            <div class="input-group-addon search-keyword">
                <i class="iconfont icon-sousuo"></i>
            </div>
        </div>
        <div class="materials-control-btn">
            <i class="iconfont icon-xiangxixinxi"></i>
        </div>
    </div>

    <div class="materials-controls-mask">
        <div class="materials-controls"></div>
    </div>    
        

    <div class="common-content width-nav materials-list">
        <div class="weui-pull-to-refresh-layer">
            <div class="pull-to-refresh-arrow"></div>
            <div class="pull-to-refresh-preloader"></div>
            <div class="down">下拉刷新</div>
            <div class="up">释放刷新</div>
            <div class="refresh">正在刷新...</div>
            <div class="done">刷新完成</div>
        </div>

        <div class="list-warning">
            搜索结果如下，点此查看全部阅读资料
        </div>

        <div class="materials-box-wrapper">

        </div>
    </div>
</div>

<script id="typeTpl" type="text/template">
    <div class="weui-row">
        <% _.each(list, function(v){ %>
            <div class="weui-col-33">
                <div class="label label-info label-type" data-uuid="<%=v.uuid%>"><%=v.coursewareType%></div>
            </div>
        <% }) %>
    </div>
</script>

<script id="listTpl" type="text/template">
    <%
        if(data.rows.length == 0){
    %>
        <div class="warning-panel">暂无阅读资料</div>
    <%   
        }
    %>

    <%
        _.each(data.rows,function(v,i){
    %>
        <div class="materials-box clearfix" data-uuid="<%=v.uuid%>">
            <div class="image">
                <img src="<%=v.courImageUrl%>">
            </div>
            <div class="info">
                <h3><%=v.courName%></h3>
                <div class='info-desc'><%=v.courDesc%></div>
                <div class="info-bottom clearfix">
                    <div class="pull-left">
                        <i class="iconfont icon-yiyueduwebapp"></i> <%=v.readCount%>
                    </div>
                    <div class="pull-right">
                        <div class="label label-blue"><%=v.courTypeStr%></div>
                    </div>
                </div>
            </div>
        </div>
    <%
        });
    %>

    <% if(data.hasNextPage || data.hasPreviousPage){ %>
        <div class="list-control weui-row">
            <%
                var prevAttr = '',nextAttr = ''; 
                
                if(!data.hasPreviousPage){
                    prevAttr = 'disabled';
                } 
                
                if(!data.hasNextPage){
                    nextAttr = 'disabled';
                } 
            %> 
            <div class="weui-col-40">
                <button class="btn btn-default btn-prev" data-page="<%=data.prePage%>" <%=prevAttr%>>上一页</button>
            </div>
            <div class="weui-col-20"><%=data.pageNum%>/<%=data.pages%></div>
            <div class="weui-col-40">
                <button class="btn btn-default btn-next" data-page="<%=data.nextPage%>" <%=nextAttr%>>下一页</button>
            </div>
        </div>
    <% } %>
</script>