<div class="common-content knowledge-detail-content">
    <div class="knowledge-question-content">
        <div class="info clearfix">
            <!--<div class="label label-danger pull-left">已关闭</div>-->
            <div class="label label-success pull-left">待回答</div>
            <div class="label label-blue pull-left">问题类型</div>
            <div class="datetime pull-right">2016-10-02 11:12</div>
        </div>
        <div class="text">
            ajskdfjalsfjjlakjsdf拉科技三分类考试及地方了科技
        </div>
        <div class="image">
            <img src="app_img/noavatar.png" alt="">
            <img src="app_img/noavatar.png" alt="">
            <img src="app_img/noavatar.png" alt=""><br>

            <img src="app_img/noavatar.png" alt="">
            <img src="app_img/noavatar.png" alt="">
            <img src="app_img/noavatar.png" alt=""><br>

            <img src="app_img/noavatar.png" alt="">
            <img src="app_img/noavatar.png" alt="">
            <img src="app_img/noavatar.png" alt="">
        </div>
        <div class="control clearfix">
            <div class="pull-left">
                <span class="share">
                    <i class="iconfont icon-zhuanfa"></i> 1
                </span>
                <span class="reply">
                    <i class="iconfont icon-huida"></i> 1
                </span>
            </div>
            <div class="pull-right">
                <span class="user">提问人：啊啊啊啊啊啊啊</span>
            </div>
        </div>
        <div class="close-question">
            <div class="btn btn-default btn-sm">关闭问题</div>
        </div>
    </div>


    <div class="knowledge-best-answer">
        <div class="knowledge-best-title">
            <i class="iconfont icon-sheweichenggong"></i> 最佳答案
        </div>
        <div class="knowledge-answer-box">
            <div class="avatar">
                <img src="app_img/noavatar.png" alt="">
            </div>
            <div class="wrapper">
                <div class="clearfix">
                    <div class="username pull-left">啊啊啊啊</div>
                    <div class="datetime pull-right">2016-01-21 11:11</div>
                </div>

                <div class="content">
                    的说了句法开始的解放路上空间的福利卡涉及到法律会计师
                </div>

                <div class="image">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                </div>

                <div class="info">
                    <span class="share">
                        <i class="iconfont icon-zhuanfa"></i> 1
                    </span>
                    <span class="reply">
                        <i class="iconfont icon-groupcopy5"></i> 1
                    </span>
                </div>

                <div class="control">
                    <i class="iconfont icon-xiehuifu1"></i>
                    <div class="btn-groups clearfix">
                        <div class="btn-share pull-left">转发</div>
                        <div class="btn-comment pull-left">回复</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blank"></div>

    <div class="knowledge-answer-content">
        <div class="knowledge-other-title">
            其他回答
        </div>
        

        <div class="knowledge-answer-box">
            <div class="avatar">
                <img src="app_img/noavatar.png" alt="">
            </div>
            <div class="wrapper">
                <div class="clearfix">
                    <div class="username pull-left">啊啊啊啊</div>
                    <div class="datetime pull-right">2016-01-21 11:11</div>
                </div>

                <div class="content">
                    的说了句法开始的解放路上空间的福利卡涉及到法律会计师
                </div>

                <div class="image">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                </div>

                <div class="info">
                    <span class="share">
                        <i class="iconfont icon-zhuanfa"></i> 1
                    </span>
                    <span class="reply">
                        <i class="iconfont icon-groupcopy5"></i> 1
                    </span>
                </div>

                <div class="control">
                    <i class="iconfont icon-xiehuifu1"></i>
                    <div class="btn-groups clearfix">
                        <div class="btn-share pull-left">转发</div>
                        <div class="btn-comment pull-left">回复</div>
                        <div class="btn-setting">设为最佳</div>
                    </div>
                </div>

                <div class="comment">
                    <div class="comment-box"><span>啊啊啊啊：</span>阿萨德飞洒的开发及塑料袋附件是来得及发看见啥地方开始就代理费</div>
                    <div class="comment-box"><span>啊啊啊啊：</span>阿萨德飞洒的开发及塑料袋附件是来得及发看见啥地方开始就代理费</div>
                    <div class="comment-box"><span>啊啊啊啊：</span>阿萨德飞洒的开发及塑料袋附件是来得及发看见啥地方开始就代理费</div>
                    <div class="comment-box"><span>啊啊啊啊：</span>阿萨德飞洒的开发及塑料袋附件是来得及发看见啥地方开始就代理费</div>
                    <div class="comment-box"><span>啊啊啊啊：</span>阿萨德飞洒的开发及塑料袋附件是来得及发看见啥地方开始就代理费</div>
                    <div class="comment-more">更多评论</div>
                </div>
            </div>
        </div>
        <div class="knowledge-answer-box">
            <div class="avatar">
                <img src="app_img/noavatar.png" alt="">
            </div>
            <div class="wrapper">
                <div class="clearfix">
                    <div class="username pull-left">啊啊啊啊</div>
                    <div class="datetime pull-right">2016-01-21 11:11</div>
                </div>

                <div class="content">
                    的说了句法开始的解放路上空间的福利卡涉及到法律会计师
                </div>

                <div class="image">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt="">
                    <img src="app_img/noavatar.png" alt=""><br>
                </div>

                <div class="info">
                    <span class="share">
                        <i class="iconfont icon-zhuanfa"></i> 1
                    </span>
                    <span class="reply">
                        <i class="iconfont icon-groupcopy5"></i> 1
                    </span>
                </div>

                <div class="control">
                    <i class="iconfont icon-xiehuifu1"></i>
                    <div class="btn-groups clearfix">
                        <div class="btn-share pull-left">转发</div>
                        <div class="btn-comment pull-left">回复</div>
                        <div class="btn-setting">设为最佳</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blank"></div>

    <div class="list-control weui-row">
        <div class="weui-col-40">
            <button class="btn btn-default btn-prev">上一页</button>
        </div>
        <div class="weui-col-20">1/2</div>
        <div class="weui-col-40">
            <button class="btn btn-default btn-next">下一页</button>
        </div>
    </div>
</div>