<div class="common-content">
    <div class="knowledge-menu-box menu-knowledge-box" data-url="knowledge-list">
        <div class="icon">
            <i class="iconfont icon-zhishi"></i>
        </div>
        <div class="title">
            <h3>知识库</h3>
            <p>未解决/已解决的问题</p>
        </div>
        <div class="control">
            <i class="iconfont icon-qianjin"></i>
        </div>
    </div>
    <div class="knowledge-menu-box menu-question-box" data-url="knowledge-myquestion">
        <div class="icon">
            <i class="iconfont icon-wen"></i>
        </div>
        <div class="title">
            <h3>我的问题</h3>
            <p>我提出过的问题</p>
        </div>
        <div class="control">
            <i class="iconfont icon-qianjin"></i>
        </div>
    </div>
    <div class="knowledge-menu-box menu-answer-box" data-url="knowledge-myanswer">
        <div class="icon">
            <i class="iconfont icon-da1"></i>
        </div>
        <div class="title">
            <h3>我的回答</h3>
            <p>我回答过的问题</p>
        </div>
        <div class="control">
            <i class="iconfont icon-qianjin"></i>
        </div>
    </div>

    <div class="knowledge-index-control">
        <div class="btn-ask-wrapper">
            <div class="btn-ask-quetion btn btn-primary">
                <i class="iconfont icon-woyaotiwen"></i>
                <p>我要提问</p>
                <!--<div class="line-left"></div>-->
                <!--<div class="line-right"></div>-->
            </div>
        </div>
    </div>
</div>