<div class="common-content advise-content">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea input-text" placeholder="请填写您的建议" rows="7"></textarea>
                <!--<div class="weui_textarea_counter"><span>0</span>/200</div>-->
            </div>
        </div>
    </div>

    <div class="advise-control">
        <button class="btn btn-primary btn-block btn-lg btn-submit">提交</button>
    </div>
</div>