<div class="common-content email-content">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">邮箱</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input input-email" type="text" placeholder="请输入邮箱">
            </div>
        </div>
        <div class="weui_cell weui_vcode">
            <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input input-validcode" type="number" placeholder="请输入验证码">
            </div>
            <div class="weui_cell_ft">
                <img class="validimg" src="<%=img%>">
            </div>
        </div>
    </div>

    <div class="email-control">
        <button class="btn btn-primary btn-block btn-lg btn-submit">修改邮箱</button>
    </div>
</div>