<div class="common-content email-content modify-content">
    
</div>

<script id="qqTpl" type="text/template">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">QQ</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input input-modify" type="text" placeholder="请输入您的QQ号">
            </div>
        </div>
    </div>

    <div class="email-control">
        <button class="btn btn-primary btn-block btn-lg btn-submit">确认修改</button>
    </div>
</script>

<script id="wxTpl" type="text/template">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">微信</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input input-modify" type="text" placeholder="请输入您的微信号">
            </div>
        </div>
    </div>

    <div class="email-control">
        <button class="btn btn-primary btn-block btn-lg btn-submit">确认修改</button>
    </div>
</script>

<script id="weiboTpl" type="text/template">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">微博</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input input-modify" type="text" placeholder="请输入您的微博">
            </div>
        </div>
    </div>

    <div class="email-control">
        <button class="btn btn-primary btn-block btn-lg btn-submit">确认修改</button>
    </div>
</script>