<div class="common-content bottom-pd20 bg-gray" id="contactList">
    <div class="contact-header">
        <div class="search clearfix">
            <div class="pull-right">
                <div class="btn btn-primary">查询</div>
            </div>
            <div class="overhidden">
                <i class="iconfont icon-sousuo"></i>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="contact-list-wrapper">
        <div class="contact-list-title">A</div>
        <div class="contact-list-box-wrapper">
            <div class="contact-list-box">
                <div class="clearfix">
                    <div class="pull-left">
                        <img src="app_img/noavatar.png">
                    </div>
                    <div class="pull-left">
                        测试名字
                    </div>
                </div>
            </div>
            <div class="contact-list-box">
                <div class="clearfix">
                    <div class="pull-left">
                        <img src="app_img/noavatar.png">
                    </div>
                    <div class="pull-left">
                        测试名字
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-list-title">B</div>
        <div class="contact-list-box-wrapper">
            <div class="contact-list-box">
                <div class="clearfix">
                    <div class="pull-left">
                        <img src="app_img/noavatar.png">
                    </div>
                    <div class="pull-left">
                        测试名字
                    </div>
                </div>
            </div>
            <div class="contact-list-box">
                <div class="clearfix">
                    <div class="pull-left">
                        <img src="app_img/noavatar.png">
                    </div>
                    <div class="pull-left">
                        测试名字
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>