<div class="common-content bg-gray">
    <div class="login-detail">
        <div class="info clearfix">
            <div class="pull-left">
                <img src="app_img/noavatar.png">
            </div>
            <div class="overhidden">
                <h3>西门少年</h3>
                <p>2017-2-13 14:14:14</p>
            </div>
        </div>
        <div class="content">
            <div class="title">今日完成工作</div>
            <div class="text">健身卡等放假了束带结发克里斯丁减肥了</div>
        </div>
        <div class="content">
            <div class="title">今日未完成工作</div>
            <div class="text">健身卡等放假了束带结发克里斯丁减肥了</div>
        </div>
        <div class="content">
            <div class="title">需协调工作</div>
            <div class="text">健身卡等放假了束带结发克里斯丁减肥了</div>
        </div>
        <div class="content">
            <div class="title">备注</div>
            <div class="text">健身卡等放假了束带结发克里斯丁减肥了</div>
        </div>
        <div class="content weui-row">
            <div class="weui-col-20">
                <img src="app_img/noavatar.png">
            </div>
            <div class="weui-col-20">
                <img src="app_img/noavatar.png">
            </div>
            <div class="weui-col-20">
                <img src="app_img/noavatar.png">
            </div>
            <div class="weui-col-20">
                <img src="app_img/noavatar.png">
            </div>
            <div class="weui-col-20">
                <img src="app_img/noavatar.png">
            </div>
            <div class="weui-col-20">
                <img src="app_img/noavatar.png">
            </div>
        </div>
    </div>
</div>

<script id="day" type="text/template">
    
</script>
<script id="week" type="text/template">
    
</script>
<script id="month" type="text/template">
    
</script>