<div class="common-content bg-gray bottom-pd20">
    <div class="log-form">
        <table class="table">
            <tr class="flag">
                <td colspan="2"><textarea class="form-control" placeholder="备注"></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="image-title clearfix">
                        <div class="pull-left">
                            图片
                        </div>
                        <div class="pull-right">
                            <i class="iconfont icon-tupian"></i>
                        </div>
                    </div>
                    <div class="image-content weui-row">
                        <div class="image-box weui-col-25">
                            <img src="app_img/noavatar.png">
                            <div class="delete">
                                <i class="iconfont icon-cuowu"></i>
                            </div>
                        </div>
                        <div class="image-box weui-col-25">
                            <img src="app_img/noavatar.png">
                            <div class="delete">
                                <i class="iconfont icon-cuowu"></i>
                            </div>
                        </div>
                        <div class="image-box weui-col-25">
                            <img src="app_img/noavatar.png">
                            <div class="delete">
                                <i class="iconfont icon-cuowu"></i>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="log-send">
        <div class="title">发给谁（点击头像删除）</div>
        <div class="content weui-row">
            <div class="people-box weui-col-20">
                <div class="image"><img src="app_img/noavatar.png"></div>
                <p>测试名字</p>
            </div>
            <div class="add-box weui-col-20">
                <div class="image">
                    <div class="round">
                        <i class="iconfont icon-jia"></i>
                    </div>
                </div>
                <p>添加人员</p>
            </div>
        </div>
    </div>
</div>

<script id="day" type="text/template">
    <tr>
        <td>今日完成工作</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
    <tr>
        <td>未完成工作</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
    <tr>
        <td>需协调工作</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
</script>
<script id="week" type="text/template">
    <tr>
        <td>本周完成工作</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
    <tr>
        <td>本周工作总结</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
    <tr>
        <td>下周工作计划</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
    <tr>
        <td>需协调与帮助</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
</script>
<script id="month" type="text/template">
    <tr>
        <td>本月工作内容</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
    <tr>
        <td>本月工作总结</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
    <tr>
        <td>下月工作计划</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
    <tr>
        <td>需协调与帮助</td>
        <td><input type="text" class="form-control" placeholder="请填写文字"></td>
    </tr>
</script>