<div class="common-content bg-gray" id="logIndex">
    <div class="log-menu weui-row">
        <div class="weui-col-33 log-menu-btn" data-href="log-form/1">
            <div class="log-day-icon log-icon">日</div>
            <p>日报</p>
        </div>
        <div class="weui-col-33 log-menu-btn" data-href="log-form/2">
            <div class="log-week-icon log-icon">周</div>
            <p>周报</p>
        </div>
        <div class="weui-col-33 log-menu-btn" data-href="log-form/3">
            <div class="log-month-icon log-icon">月</div>
            <p>月报</p>
        </div>
    </div>

    <div class="log-bottom">
        <div class="btn btn-primary btn-block btn-mine">查看日志</div>
    </div>
</div>