<div class="common-content bg-gray">
    <div class="log-mine-nav weui-row">
        <div class="weui-col-50 active">
            <div class="text">我收到的</div>
        </div>
        <div class="weui-col-50">
            <div class="text">我发出的</div>
        </div>
    </div>

    <div class="log-mine-wrapper">
        <div class="log-mine-box">
            <div class="info clearfix">
                <div class="pull-left">
                    <img src="app_img/noavatar.png">
                </div>
                <div class="overhidden">
                    <h3>西门少年</h3>
                    <p>2017-2-13 15:14:13</p>
                </div>
            </div>
            <div class="content clearfix">
                <div class="pull-right">
                    <div>查看全文 >></div>
                </div>
                <div class="overhidden">
                    <h3>周报</h3>
                    <p><span class="title">本周完成工作：</span>完成工作</p>
                    <p><span class="title">本周工作总结：</span>完成工作</p>
                    <p><span class="title">下周工作计划：</span>完成工作</p>
                    <p><span class="title">需协调与帮助：</span>完成工作</p>
                </div>
            </div>
        </div>
    </div>
</div>