<div class="maketing-task-tetail2  bg-gray" id="maketingTaskDetail2" style="height: 100%;width: 100%;">
    <div class="task-recommended">

    </div>
    <div class="export">
        <span>导出营销服务单</span>
    </div>
</div>
<script id="maketingTaskDetailTemplate2" type="text/template">
   <div class="showItem">
        <span>工单名称：</span><span><%=data.title%></span>
    </div>
    <div class="showItem">
        <span>客户数：</span><span><%=data.targetCont%></span>
    </div>
    <div class="showItem">
        <span>派发时间：</span><span><%=data.beginTime%></span>
    </div>
    <div class="showItem">
        <span>完成时间：</span><span><%=data.endTime%></span>
    </div>
    <div class="showItem">
        <span>营销服务政策：</span><span><%=data.serviceDetail%></span>
    </div>
    <div class="showItem">
        <span>营销服务口径：</span><span><%=data.serviceCaliber%></span>
    </div>
</script>