<div class="common-content bg-gray online_read_detail" id="mobileRepositoryDetail">
    <div class="content">
        <!--<div class="base_box question_content">
            <div class="base_title">
                <h3>
                    用户需要办理家庭宽带怎么办？用户需要办理家庭宽带怎么办？用户需要办理家庭宽带怎么办？用户需要办理家庭宽带怎么办？
                </h3>
            </div>
            <div class="base_img">
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
                <br>
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
                <br>
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
                <div class="img" style="background: url(app_img/none.jpg) center center no-repeat/cover"></div>
            </div>
            <div class="base_info clearfix">
                <div class="pull-left">
                    1个回答
                </div>
                 <div class="pull-right">
                     2016-08-08 11:11
                 </div>
            </div>
            <div class="clearfix base_ctrl">
                <div class="pull-left">
                    类别：热门（4G、宽带）
                </div>
                <div class="pull-right">
                    <div class="btn btn-default close_question_btn">关闭问题</div>
                </div>
            </div>
        </div>
        <div class="comment_wrapper bg-white">
            <div class="comment_floor">
                <div class="best_title">
                    <i class="iconfont icon-sheweichenggong"></i> 最佳答案
                </div>
                <div class="comment_box clearfix">
                    <div class="pull-left">
                        <img src="app_img/noavatar.png" alt="">
                    </div>
                    <div class="overhidden">
                        <div class="comment_info">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="comment_ctrl pull-right">
                                    <div class="like_ctrl">
                                        <i class="iconfont icon-aixin empty_love"></i> 1
                                    </div>
                                    <div class="reply_ctrl">
                                        <i class="iconfont icon-groupcopy5"></i> 2
                                    </div>
                                </div>
                            </div>
                            <p class="date">2016-02-02</p>
                        </div>
                        <p>回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容</p>
                    </div>
                </div>
                <div class="comment_sub_box">
                    <div class="comment_box clearfix">
                        <div class="pull-left">
                            <img src="app_img/noavatar.png" alt="">
                        </div>
                        <div class="overhidden">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="date pull-right">2016-02-02</div>
                            </div>
                            <p>回复内容回复内容</p>
                        </div>
                    </div>
                    <div class="comment_box clearfix">
                        <div class="pull-left">
                            <img src="app_img/noavatar.png" alt="">
                        </div>
                        <div class="overhidden">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="date pull-right">2016-02-02</div>
                            </div>
                            <p>回复内容回复内容</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment_floor">
                <div class="other_title">
                    其他回答
                </div>
                <div class="comment_box clearfix">
                    <div class="pull-left">
                        <img src="app_img/noavatar.png" alt="">
                    </div>
                    <div class="overhidden">
                        <div class="comment_info">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="comment_ctrl pull-right">
                                    <div class="like_ctrl">
                                        <i class="iconfont icon-aixin empty_love"></i> 1
                                    </div>
                                    <div class="reply_ctrl">
                                        <i class="iconfont icon-groupcopy5"></i> 2
                                    </div>
                                </div>
                            </div>
                            <p class="date">2016-02-02</p>
                        </div>
                        <p>回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容</p>
                    </div>
                </div>
                <div class="comment_sub_box">
                    <div class="comment_box clearfix">
                        <div class="pull-left">
                            <img src="app_img/noavatar.png" alt="">
                        </div>
                        <div class="overhidden">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="date pull-right">2016-02-02</div>
                            </div>
                            <p>回复内容回复内容</p>
                        </div>
                    </div>
                    <div class="comment_box clearfix">
                        <div class="pull-left">
                            <img src="app_img/noavatar.png" alt="">
                        </div>
                        <div class="overhidden">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="date pull-right">2016-02-02</div>
                            </div>
                            <p>回复内容回复内容</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="base_box question_content">
            <div class="base_title">
                <h3>
                    ----------
                </h3>
            </div>
            <div class="base_info clearfix">
                <div class="pull-left">
                    0个回答
                </div>
                 <div class="pull-right">
                     -----
                 </div>
            </div>
            <div class="clearfix base_ctrl">
                <div class="pull-left">
                    类别：-----
                </div>
            </div>
        </div>
        <div class="comment_wrapper bg-white">
            <div class="warning-panel">还没有人回答</div>
        </div>
    </div>
    <div class="form clearfix">
        <div class="pull-right">
            <div class="btn btn-primary btn-block btn-reply">发送</div>
        </div>
        <div class="overhidden">
            <input type="text" class="form-control input-comment" placeholder="请写下您的回答吧~">
        </div>
    </div>
</div>

<script id="detailTpl" type="text/template">
    <%
        var an = data.an;
        var anList = an.rows;
        var know = data.know;
    %>

    <div class="base_box question_content">
        <div class="base_title">
            <h3>
                <%=know.queDesc%>
            </h3>
        </div>

        <% if(know.queImgJson && know.queImgJson.length > 0){ %>
            <div class="base_img">
                <% 
                    _.each(know.queImgJson, function(v, i){
                %>
                    <div class="img" style="background: url(<%=v.imageUrl%>) no-repeat center center/cover">
                        <img src="<%=v.url%>" class="hide">
                    </div>
                    <% if(i == 2 || i == 5 || i == 8){ %>
                    <br>
                    <% } %>
                <% }); %>
            </div>
        <% } %>
        
        <div class="base_info clearfix">
            <div class="pull-left">
                <%=know.replayCount %>个回答
            </div>
                <div class="pull-right">
                    <%=know.createTimeStr.substr(0, 16)%>
                </div>
        </div>
        <div class="clearfix base_ctrl">
            <div class="pull-left">
                类别：<%=know.queTypeUuid%>
            </div>
            <% if(user.mobile == know.userMobile && !know.queStatus){ %>
                <div class="pull-right">
                    <div class="btn btn-default close_question_btn" data-uuid="<%=know.uuid%>">关闭问题</div>
                </div>
            <% } %>
        </div>
    </div>

    <div class="comment_wrapper bg-white">
        <% if(anList.length == 0){ %> 
            <div class="warning-panel">还没有人回答</div>
        <% } %>

        <% _.each(anList, function(v,i){ %>
            <div class="comment_floor">
                <% if(i == 0 &&　v.isGood){ %>
                    <div class="best_title">
                        <i class="iconfont icon-sheweichenggong"></i> 最佳答案
                    </div>
                <% }else if((i == 0 && !v.isGood) || (i == 1 && anList[0].isGood)){ %>
                    <div class="other_title">
                        其他回答
                    </div>
                <% } %>
                <div class="comment_box clearfix">
                    <div class="pull-left">
                        <% if(v.anUserHeadImage){ %>
                            <img src="<%=v.anUserHeadImage%>">
                        <% }else{ %>
                            <img src="app_img/noavatar.png">
                        <% } %>
                    </div>
                    <div class="overhidden">
                        <div class="comment_info">
                            <div class="clearfix">
                                <div class="name pull-left"><%=v.anUserName%></div>
                                <div class="comment_ctrl pull-right">

                                    <% if(v.anUserMobile != user.mobile && !hasBest && know.userMobile == user.mobile && !v.isGood){ %>
                                        <div class="like_ctrl" data-uuid="<%=v.uuid%>">
                                            <i class="iconfont icon-aixin empty_love"></i>
                                        </div>
                                    <% } %>


                                    <div class="reply_ctrl" data-uuid="<%=v.uuid%>" data-name="<%=v.anUserName%>">
                                        <i class="iconfont icon-groupcopy5"></i> <%=v.commentCount%>
                                    </div>
                                </div>
                            </div>
                            <p class="date"><%=v.createTimeStr.substr(0, 16)%></p>
                        </div>
                        <p><%=v.content%></p>
                    </div>
                </div>

                <% if(v.commentList && v.commentList.length > 0){ %>
                    <div class="comment_sub_box">
                        <% _.each(v.commentList, function(c){ %>
                            <div class="comment_box clearfix">
                                <div class="pull-left">
                                    <% if(c.commentHeadImg){ %>
                                        <img src="<%=c.commentHeadImg%>">
                                    <% }else{ %>
                                        <img src="app_img/noavatar.png">
                                    <% } %>
                                </div>
                                <div class="overhidden">
                                    <div class="clearfix">
                                        <div class="name pull-left"><%=c.commentName%></div>
                                        <div class="date pull-right"><%=c.createTimeStr.substr(0,16)%></div>
                                    </div>
                                    <p><%=c.commentContent%></p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        <% }) %>
        
        <% if(an.hasNextPage || an.hasPreviousPage){ %>
            <div class="list-control weui-row">
                <%
                    var prevAttr = '',nextAttr = ''; 
                    
                    if(!an.hasPreviousPage){
                        prevAttr = 'disabled';
                    } 
                    
                    if(!an.hasNextPage){
                        nextAttr = 'disabled';
                    } 
                %> 
                <div class="weui-col-40">
                    <button class="btn btn-default btn-prev" data-page="<%=an.prePage%>" <%=prevAttr%>>上一页</button>
                </div>
                <div class="weui-col-20"><%=an.pageNum%>/<%=an.pages%></div>
                <div class="weui-col-40">
                    <button class="btn btn-default btn-next" data-page="<%=an.nextPage%>" <%=nextAttr%>>下一页</button>
                </div>
            </div>
        <% } %>
    </div>
</script>   