<div class="common-content bg-gray online_read_detail overhidden" id="exampleDetail">
    <div class="content">
        <div class="bg-white example_wrapper">
            <div class="title">
                案例名称
            </div>
            <div class="app_detail_content weui_cells">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>投诉类别</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>客户品牌</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>客户分类</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>客户姓名</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>投诉来源</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>投诉发生时间</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>投诉事由</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>查证处理情况</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>客户心理分析</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>处理要点与技巧分享</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>问题发现</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>改进措施</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>服务术语</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>服务禁语</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>法律意见</p>
                    </div>
                    <div class="weui_cell_ft">
                        -
                    </div>
                </div>
            </div>
        </div>
        
        <div class="article_ctrl pd10 bg-white clearfix">
            <div class="pull-left">
                <div class="article_ctrl_btn like_btn not_like">
                    <div class="icon_wrapper">
                        <i class="iconfont icon-aixin empty_love"></i>
                        <i class="iconfont icon-xiazai1 fill_love hide"></i>
                    </div>
                    <p>0</p>
                </div>

                <div class="article_ctrl_btn reply_btn">
                    <div class="icon_wrapper">
                        <i class="iconfont icon-pinglun"></i>
                    </div>
                    
                    <p>0</p>
                </div>
            </div>
            <!--<div class="pull-right">
                <div class="link_ctrl_btn">
                    <i class="iconfont icon-xiazai"></i>
                    <p>附件下载</p>
                </div>
            </div>-->
        </div>

        <div class="comment_sum">
            评论
        </div>
        <div class="comment_wrapper bg-white">
            <!--<div class="warning-panel">暂无评论</div>-->
            <!--<div class="comment_floor">
                <div class="comment_box clearfix">
                    <div class="pull-left">
                        <img src="app_img/noavatar.png" alt="">
                    </div>
                    <div class="overhidden">
                        <div class="comment_info">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="comment_ctrl pull-right">
                                    <div class="like_ctrl">
                                        <i class="iconfont icon-aixin empty_love"></i> 1
                                    </div>
                                    <div class="reply_ctrl">
                                        <i class="iconfont icon-groupcopy5"></i> 2
                                    </div>
                                </div>
                            </div>
                            <p class="date">2016-02-02</p>
                        </div>
                        <p>回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容</p>
                    </div>
                </div>
                <div class="comment_sub_box">
                    <div class="comment_box clearfix">
                        <div class="pull-left">
                            <img src="app_img/noavatar.png" alt="">
                        </div>
                        <div class="overhidden">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="date pull-right">2016-02-02</div>
                            </div>
                            <p>回复内容回复内容</p>
                        </div>
                    </div>
                    <div class="comment_box clearfix">
                        <div class="pull-left">
                            <img src="app_img/noavatar.png" alt="">
                        </div>
                        <div class="overhidden">
                            <div class="clearfix">
                                <div class="name pull-left">测试姓名</div>
                                <div class="date pull-right">2016-02-02</div>
                            </div>
                            <p>回复内容回复内容</p>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <div class="form clearfix">
        <div class="pull-right">
            <div class="btn btn-primary btn-block btn-reply">发送</div>
        </div>
        <div class="overhidden">
            <input type="text" class="form-control input-comment" placeholder="发表一下你的点评吧~">
        </div>
    </div>
</div>

<script id="detailTpl" type="text/template">
    <div class="title">
        <%=title%>
    </div>
    <div class="app_detail_content weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>投诉类别</p>
            </div>
            <div class="weui_cell_ft">
                <%=typeName%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>客户品牌</p>
            </div>
            <div class="weui_cell_ft">
                <%=customerBrand%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>客户分类</p>
            </div>
            <div class="weui_cell_ft">
                <%=customerType%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>客户姓名</p>
            </div>
            <div class="weui_cell_ft">
                <%=customerName%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>投诉来源</p>
            </div>
            <div class="weui_cell_ft">
                <%=sourceComplaints%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>投诉发生时间</p>
            </div>
            <div class="weui_cell_ft">
                <%=complaintsTime%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>投诉事由</p>
            </div>
            <div class="weui_cell_ft">
                <%=complaintsReason%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>查证处理情况</p>
            </div>
            <div class="weui_cell_ft">
                <%=verifyTreatment%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>客户心理分析</p>
            </div>
            <div class="weui_cell_ft">
                <%=customerAnalysis%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>处理要点与技巧分享</p>
            </div>
            <div class="weui_cell_ft">
                <%=treatmentSharing%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>问题发现</p>
            </div>
            <div class="weui_cell_ft">
                <%=problemFound%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>改进措施</p>
            </div>
            <div class="weui_cell_ft">
                <%=improvementMeasures%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>服务术语</p>
            </div>
            <div class="weui_cell_ft">
                <%=serviceTerms%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>服务禁语</p>
            </div>
            <div class="weui_cell_ft">
                <%=serviceTaboo%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>法律意见</p>
            </div>
            <div class="weui_cell_ft">
                <%=legalAdvice%>
            </div>
        </div>
    </div>
</script>



<script id="commentTpl" type="text/template">
<% if(!data.rows.length){ %>
    <div class="warning-panel">暂无评论</div>
<% }else{ %>
    <%
        _.each(data.rows,function(v,i){
    %>
        <div class="comment_floor">
            <div class="comment_box clearfix">
                <div class="pull-left">
                    <% if(v.headImgUrl){ %>
                        <img src="<%=v.headImgUrl%>">
                    <% }else{ %>
                        <img src="app_img/noavatar.png">
                    <% } %>
                </div>
                <div class="overhidden">
                    <div class="comment_info">
                        <div class="clearfix">
                            <div class="name pull-left"><%=v.name%></div>
                            <div class="comment_ctrl pull-right">
                                <div class="like_ctrl" data-uuid="<%=v.uuid%>">
                                    <%
                                        var h1 = '';
                                        var h2 = 'hide';
                                        if(v.isThumbs){
                                            h1 = 'hide';
                                            h2 = '';
                                        }
                                    %>
                                    <i class="iconfont icon-aixin empty_love <%=h1%>"></i>
                                    <i class="iconfont icon-xiazai1 fill_love <%=h2%>"></i> <span><%=v.thumbsCount%></span>
                                </div>
                                <div class="reply_ctrl" data-uuid="<%=v.uuid%>" data-name="<%=v.name%>">
                                    <i class="iconfont icon-groupcopy5"></i> <%=v.commentsCount%>
                                </div>
                            </div>
                        </div>
                        <p class="date"><%=v.createTime.substr(0, 16)%></p>
                    </div>
                    <p><%=v.content%></p>
                </div>
            </div>

            <% if(v.twoList && v.twoList.length > 0){ %>
                <div class="comment_sub_box">
                    <% _.each(v.twoList, function(s){ %>
                        <div class="comment_box clearfix">
                            <div class="pull-left">
                                <% if(s.headImgUrl){ %>
                                    <img src="<%=s.headImgUrl%>">
                                <% }else{ %>
                                    <img src="app_img/noavatar.png ">
                                <% } %>
                            </div>
                            <div class="overhidden">
                                <div class="clearfix">
                                    <div class="name pull-left"><%=s.name%></div>
                                    <div class="date pull-right"><%=s.createTime.substr(0, 16)%></div>
                                </div>
                                <p><%=s.content%></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } %>
       
        </div>
    <%
        });
    %>
    <% if(data.hasNextPage || data.hasPreviousPage){ %>
        <div class="list-control weui-row">
            <%
                var prevAttr = '',nextAttr = ''; 
                
                if(!data.hasPreviousPage){
                    prevAttr = 'disabled';
                } 
                
                if(!data.hasNextPage){
                    nextAttr = 'disabled';
                } 
            %> 
            <div class="weui-col-40">
                <button class="btn btn-default btn-prev" data-page="<%=data.prePage%>" <%=prevAttr%>>上一页</button>
            </div>
            <div class="weui-col-20"><%=data.pageNum%>/<%=data.pages%></div>
            <div class="weui-col-40">
                <button class="btn btn-default btn-next" data-page="<%=data.nextPage%>" <%=nextAttr%>>下一页</button>
            </div>
        </div>
    <% } %>
<% } %>
</script>