<div class="common-content">
    <div class="login-logo">
        <img class="login-chinamobile-logo" src="app_img/chinamobilelogo.png">
    </div>
    
    <div class="login-header">
        <div class="wrapper">
            <!--<img src="app_img/noavatar.png">-->
            <i class="iconfont icon-nanrentouxiang"></i>
        </div>
    </div>
 
    <div class="login-content">
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label">手机号码</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input login-mobile" type="tel" placeholder="请输入手机号码" value="" maxlength="11">
                </div>
            </div>
            <div class="weui_cell weui_vcode">
                <div class="weui_cell_hd"><label class="weui_label">短信验证码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input login-valid" type="number" placeholder="请输入验证码" maxlength="6">
                </div>
                <div class="weui_cell_ft">
                   <button class="btn btn-primary btn-square get-validcode">获取验证码</button>
                </div>
            </div>
        </div>
    </div>
    <div class="login-control">
        <button class="btn btn-primary btn-block btn-lg btn-login">登录</button>
    </div>
</div>