<div class="common-wrapper login-wrapper">
    <div class="login-title">登录</div>

    <div class="login-img">
        <img src="app_img/login-img.png" alt="">
    </div>

    <div class="login-form-wrapper">
        <div class="login-form clearfix">
            <div class="pull-left">
                <i class="iconfont icon-nanren"></i>
            </div>
            <div class="overhidden">
                <input type="tel" class="form-control login-mobile" placeholder="手机号" maxlength="11">
            </div>
        </div>
        <div class="login-form clearfix">
            <div class="pull-left">
                <i class="iconfont icon-suo"></i>
            </div>
            <div class="overhidden">
                <input type="tel" class="form-control login-valid" placeholder="验证码" maxlength="6">
                <div class="btn-getvalid get-validcode">获取验证码</div>
            </div>
        </div>
    </div>

    <div class="login-control">
        <div class="btn btn-login btn-block">
            登 录
        </div>
    </div>

</div>