<div class="common-content bg-gray">
    <table class="table work-table">
        <tr>
            <td colspan="4" class="work-title">
                <span>营销应用</span>
            </td>
        </tr>
        <tr class="work-list">
            <!-- <td width="25%" class="work-link" data-link="online-marketing-index/work">
                <div class="icon-marketing icon-wrapper">
                    <img src="app_img/icon-marketing.png">
                </div>
                在线营销
            </td> -->
            <td width="25%" class="work-link" data-link="marketing-task/work/index">
                <div class="icon-marketing icon-wrapper">
                    <img src="app_img/index/icon-sail-task.png">
                </div>
                <span class="redPot"></span>
                <!-- 营销任务 -->
            </td>
            <td width="25%" class="work-link" data-link="my-customer/work/index">
                <div class="icon-marketing icon-wrapper">
                    <img src="app_img/index/icon-my-customer.png">
                </div>
                <span class="redPot"></span>
                <!-- 我的客户 -->
            </td>
            <td width="25%" class="work-link" data-link="query-remuneration/work/index">
                <div class="icon-marketing icon-wrapper">
                    <img src="app_img/index/icon-remunetion.png">
                </div>
                <span class="redPot"></span>
                <!-- 酬金查询 -->
            </td>
            <td width="25%" class="work-link" data-link="marketing-communications/work/index">
                <div class="icon-marketing icon-wrapper">
                    <img src="app_img/index/icon-sail-notice.png">
                </div>
                <span class="redPot"></span>
                <!-- 营销通报 -->
            </td>
        </tr>
        <tr class="work-list">
            <td width="25%" class="work-link" data-link="graphic-marketing/work/index">
                <div class="icon-marketing icon-wrapper">
                    <img src="app_img/index/icon-sail-picfont.png">
                </div>
                <span class="redPot"></span>
                <!-- 图文营销 -->
            </td>
        </tr>
        </tr>
    </table>
    <table class="table work-table border-top-grey">
        <tr>
            <td colspan="4" class="work-title">
                <span>学习应用</span>
            </td>
        </tr>
        <tr class="work-list">
            <td width="25%" class="work-link" data-link="online-read-index/work/index">
                <div class="icon-read icon-wrapper icon-marketing">
                    <img src="app_img/index/icon-learn-online.png">
                </div>
                <!-- 在线阅读 -->
            </td>
            <td width="25%" class="work-link" data-link="exam-index/work/index">
                <div class="icon-exam icon-wrapper icon-marketing">
                    <img src="app_img/index/icon-test-oline.png">
                </div>
                <!-- 在线测评 -->
            </td>
            <td width="25%" class="work-link" data-title="营销话术" >
                <div class="icon-knowledge icon-wrapper icon-marketing">
                    <img src="app_img/index/icon-sail-speak.png">
                </div>
                <!-- 营销话术   -->
            </td>
            <td width="25%" style="padding-bottom: 10px;" class="work-link" data-title="互动问答"  data-link="mobile-repository-index/0/work/index">
                <div class="icon-wait icon-wrapper icon-marketing">
                    <img src="app_img/index/icon-answer-query.png">
                </div>
                <!-- 互动问答 -->
            </td>
        </tr>
        <tr class="work-list">
            <td width="25%">
                <div class="icon-marketing icon-wrapper icon-marketing work-link" data-title="投诉案例" data-link="mobile-repository-index/1/work/index">
                    <img src="app_img/index/icon-complaint-case.png">
                </div>
                <!-- 投诉案例 -->
            </td>
        </tr>
    </table>
    <table class="table work-table border-top-grey">
        <tr>
            <td colspan="4" class="work-title ">
                <span>门店管理</span>
            </td>
        </tr>
        <tr class="work-list">
            <td width="25%" class="work-link" data-link="" data-title="服务巡检">
                <div class="icon-diary icon-wrapper icon-marketing">
                    <img src="app_img/index/icon-sevice-query.png">
                </div>
                <!-- 服务巡检 -->
            </td>
            <td width="25%" class="work-link" data-title="服务上门">
                <div class="icon-research icon-wrapper icon-marketing">
                    <img src="app_img/index/icon-service-offline.png">
                </div>
                <!-- 服务上门 -->
            </td>
            <td width="25%">
                <!-- <div class="icon-wait icon-wrapper">
                    <img src="app_img/icon-wait.png">
                </div>
                请期待 -->
                &nbsp;
            </td>
            <td width="25%">&nbsp;</td>
        </tr>
    </table>
    <table class="table work-table border-top-grey">
        <tr>
            <td colspan="4" class="work-title">
                <span>其他管理</span>
            </td>
        </tr>
        <tr class="work-list">
            <td width="25%" class="work-link" data-link="" data-title="问卷管理">
                <div class="icon-diary icon-wrapper icon-marketing">
                    <img src="app_img/index/icon-query.png">
                </div>
                <!-- 问卷管理 -->
            </td>
            <td width="25%" class="work-link" data-title="宽带资源">
                <div class="icon-research icon-wrapper icon-marketing">
                    <img src="app_img/index/icon-broadband-resources.png">
                </div>
                <!-- 宽带资源 -->
            </td>
            <!-- 免扰客户 -->
            <td width="25%">
                <div class="icon-research icon-wrapper icon-marketing work-link" data-link="dataStatisticIndex/work/index" data-title="数据统计">
                    <img src="app_img/index/icon-data-statictic.png">
                </div>
            </td>
            <!-- <td width="25%">&nbsp;</td> -->
            <td width="25%">&nbsp;</td>
        </tr>
    </table>
</div>